
@{
    var CustomerInfo = JsonConvert.DeserializeObject<LoginInfo>(Context.Session.GetString("UserInfo"));

}
@{
    var AccountInfo = JsonConvert.DeserializeObject<DomainInfo>(Context.Session.GetString("AccountInfo"));
}
@{
    var MyAccountsDetails = JsonConvert.DeserializeObject<MyAccountsDetails>(Context.Session.GetString("MyAccountsDetails"));

}
@{
    var AccountList = MyAccountsDetails.accounts;
}
@{
    var PermissionDetails = JsonConvert.DeserializeObject<PermissionsLevels>(Context.Session.GetString("MyPermission"));
}

<div class="topnav-menu-right">
    <div class="dropdown dropdown-a">
        <a class="header-notification" title="Activity Log" href="javasctipt:void(0)" data-toggle="dropdown" id="ui_ddlnotification"
           aria-expanded="false"> <i class="icon ion-ios-bolt-outline"></i></a>
        @{
            Html.RenderPartial("_LogsNotification");
        }
    </div>

    <div class="dropdown dropdown-b">
        <a class="header-notification" href="javasctipt:void(0);" data-toggle="dropdown" aria-expanded="false" id="ui_notificationDetails">
            <i class="fa fa-bell-o" title="Notification Log"></i>
        </a>
        @{
            Html.RenderPartial("_Notifications");
        }
    </div>
    <div class="dropdown dropdown-c">
        <a class="logged-user" href="javasctipt:void(0)" data-toggle="dropdown" aria-expanded="true">
            <span class="prof-photo" title="@AccountInfo.DomainName" style="background-image:url(https://www.google.com/s2/favicons?sz=32&domain=@AccountInfo.DomainName)"></span>
            <span class="clientName" title="@AccountInfo.AccountName">@AccountInfo.AccountName</span>
            <i class="fa fa-angle-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right top-11" aria-labelledby="dropdownMenuButton">
            <a>
                <div class="useraccnmetxt">
                    <p><a class="font-weight-bold">@CustomerInfo.UserName</a></p>
                    <p><a class="text-muted">@CustomerInfo.EmailId</a></p>
                    <p><a href="//@AccountInfo.DomainName.Replace("https://","").Replace("HTTPS://","").Replace("http://","").Replace("HTTP://","")" target="_blank">@AccountInfo.DomainName</a></p>
                </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item nav-link" href="/MyProfile/Profile">
                <i class="fa fa-user-circle-o"></i>Profile
            </a>
            <a id="ui_aMyAccount" class="dropdown-item nav-link" href="javasctipt:void(0);">
                <i class="fa fa-key"></i> Accounts
            </a>
            @if (CustomerInfo.IsSuperAdmin == 1)
            {
                <a class="dropdown-item nav-link" href="/Preference/IpRestrictions">
                    <i class="fa fa-cog"></i> Preferences
                </a>
            }
            @if (CustomerInfo.IsSuperAdmin == 1)
            {
                <a class="dropdown-item nav-link" href="/ManageUsers/Users">
                    <i class="fa fa-shield"></i> Manage Users
                </a>
            }
            else if (PermissionDetails != null && (PermissionDetails.UserRole == true || PermissionDetails.UserRoleHasFullControl == true || PermissionDetails.UserRoleView == true || PermissionDetails.UserRoleContribute == true))
            {
                <a class="dropdown-item nav-link" href="/ManageUsers/Users">
                    <i class="fa fa-shield"></i> Manage Users
                </a>
            }
            @if (CustomerInfo.IsSuperAdmin == 1)
            {
                <a class="dropdown-item nav-link" href="/MyProfile/TrackingScript?@DateTime.Now.ToString("yyyyMMddHHmmss")">
                    <i class="fa fa-code"></i> Tracking Script
                </a>

                <a class="dropdown-item nav-link" href="/MyProfile/SetReportDateRange">
                    <i class="fa fa-calendar-check-o"></i> Set Report Date Range
                </a>
            }
            <div class="dropdown-divider"></div>
            <a class="dropdown-item nav-link" href="https://kb.plumb5.com" target="_blank">
                <i class="fa fa-book"></i> Knowledge Base
            </a>
            <a class="dropdown-item nav-link" href="https://kb.plumb5.com/bugs-enhancements.html" target="_blank">
                <i class="fa fa-bug"></i> Report a Bug
            </a>
            <a class="dropdown-item nav-link" href="http://kb.plumb5.com/developers-api-guide.html" target="_blank">
                <i class="fa fa-building-o"></i> Developers
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item nav-link" href="/Login/SignOut">
                <i class="fa fa-power-off"></i> Sign Out
            </a>
        </div>
    </div>
    <div id="ui_divMyAccountPopUp" class="myaccountWrap">
        <div class="accounthead">
            <h6>SELECT ACCOUNT</h6>
            <i class="icon ion-close" id="ui_iconCloseAccountPopUp"></i>
        </div>
        <div class="accountItemWrap">
            @for (var i = 0; i < AccountList.Count; i++)
            {
                var eachAccount = AccountList[i];
                var AccountClass = "MyAccountMenu";
                var AccountName = AccountList[i].AccountName;
                var SortAccountName = AccountName.Length > 15 ? AccountName + "..." : AccountName;
                var CheckBoxChecked = "";
                if (eachAccount.AccountId == AccountInfo.AdsId)
                {
                    AccountClass += " active";
                }

                if (eachAccount.AccountId == CustomerInfo.PreferredAccountId)
                {
                    CheckBoxChecked = "checked";
                }
                <a AccountId="@eachAccount.AccountId" class="@AccountClass" href="javasctipt:void(0);" title="@eachAccount.AccountName">
                    <div class="seldefltaccwrp">
                        <div class="MyAccountMenuItem accountItem" AccountId="@eachAccount.AccountId">
                            <div class="faviIcon">
                                <img src="https://www.google.com/s2/favicons?sz=16&domain=@eachAccount.DomainName" alt="@eachAccount.AccountName">
                            </div>
                            <div class="accountName">@SortAccountName</div>
                        </div>
                        <div class="seldefltradiwrp">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="ui_rdbtnUserDefaultAccount_@eachAccount.AccountId" value="@eachAccount.AccountId" name="UserDefaultAccount" @CheckBoxChecked />
                                <label class="custom-control-label" for="ui_rdbtnUserDefaultAccount_@eachAccount.AccountId"></label>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
