@using Newtonsoft.Json
@using P5GenralML
@using Plumb5GenralFunction
@using Plumb5.Models

@inject IWebHostEnvironment _webHostEnvironment
@inject P5MemoryCache _P5Chache

@{
    ViewBag.Title = "Plumb5 :: Publisher";
}

<script type="text/javascript">
    var controllerDocumentations = '@ViewBag.DocumentationProvider';
</script>
@{
    var controllerDocumentation = @ViewBag.DocumentationProvider != null ? @ViewBag.DocumentationProvider : "";
    string webRootPath = _webHostEnvironment.WebRootPath;
    var TimeZoneData = await Plumb5GenralFunction.Helper.ReadJsonFile(webRootPath);
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plumb5 :: Publisher</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/GenralJsEngagment.js"></script>

    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/ionicons/css/ionicons.css" />

    <link rel="stylesheet" href="/Content/css/plumb5-style.css" />

    <script type="text/javascript" src="~/js/JSLINQ.js"></script>
    <script src="~/js/Journey/p5journey.js"></script>
    <script src="~/js/Journey/p5journeyCreate.js"></script>
    <link href="~/Content/css/journey_style.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/select2/css/select2.min.css" />
    <script src="~/Content/select2/js/select2.full.min.js"></script>
</head>

<body>
    @if (Context.Session.GetString("UserInfo") == null || Context.Session.GetString("AccountInfo") == null || Context.Session.GetString("MyAccountsDetails") == null)
    {
        Url.ActionLink("SignOut", "Login");
    }
    else
    {
        LoginInfo? CustomerInfo = null;
        if (!String.IsNullOrEmpty(Context.Session.GetString("UserInfo")))
            CustomerInfo = JsonConvert.DeserializeObject<LoginInfo?>(Context.Session.GetString("UserInfo"));

        DomainInfo? AccountInfo = null;
        if (!String.IsNullOrEmpty(Context.Session.GetString("AccountInfo")))
            AccountInfo = JsonConvert.DeserializeObject<DomainInfo?>(Context.Session.GetString("AccountInfo"));

        PermissionsLevels? PermissionDetails = null;
        if (!String.IsNullOrEmpty(Context.Session.GetString("MyPermission")))
            PermissionDetails = JsonConvert.DeserializeObject<PermissionsLevels>(Context.Session.GetString("MyPermission"));

        List<Purchase> PurchaseList = new List<Purchase>();
        if (!String.IsNullOrEmpty(Context.Session.GetString("MLPurchase")))
            PurchaseList = JsonConvert.DeserializeObject<List<Purchase>>(Context.Session.GetString("MLPurchase"));

        MyAccountsDetails? MyAccountsDetails = null;
        if (!String.IsNullOrEmpty(Context.Session.GetString("MyAccountsDetails")))
            MyAccountsDetails = JsonConvert.DeserializeObject<MyAccountsDetails?>(Context.Session.GetString("MyAccountsDetails"));

        List<Account> AccountList = null;
        if (MyAccountsDetails != null)
            AccountList = MyAccountsDetails.accounts;

        string? AccountTimeZoneData = await _P5Chache.GetAccountTimeZoneFromCachedMemory(AccountInfo.AdsId);

        <script>
            var Plumb5AccountId = @AccountInfo.AdsId;
            var Plumb5AccountName = "@AccountInfo.AccountName";
            var Plumb5AccountDomain = "@AccountInfo.DomainName";
            var Plumb5AccountTimeZone = "@AccountInfo.Timezone";
            var Plumb5UserId = @CustomerInfo.UserId;
            var TimeZoneDataList = JSON.parse(`@TimeZoneData`.toString().replace(/&quot;/g, '"'));
            var TimeZoneData = TimeZoneDataList["TimeZoneList"]["" + Plumb5AccountTimeZone + ""];
        </script>

        <div class="top-header">
            <div class="container-fluid">
                <div class="logo-menu-left">
                    <div class="logos">
                        <div class="logoWrap">
                            <a href="javascript:void(0)"></a>
                        </div>
                    </div>
                </div>

                <div class="topnav-menu-right">

                    <div class="dropdown dropdown-c">
                        <a class="logged-user" href="javasctipt:void(0)" data-toggle="dropdown" aria-expanded="true">
                            <span class="prof-photo" title="@AccountInfo.DomainName" style="background-image:url(https://www.google.com/s2/favicons?sz=32&domain=@AccountInfo.DomainName)"></span>
                            <span class="clientName" title="@AccountInfo.AccountName">@AccountInfo.AccountName</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right top-11" aria-labelledby="dropdownMenuButton">
                            <a>
                                <div class="useraccnmetxt">
                                    <p><a class="font-weight-bold">@CustomerInfo.UserName</a></p>
                                    <p><a class="text-muted">@CustomerInfo.EmailId</a></p>
                                    <p><a href="//@AccountInfo.DomainName.Replace("https://","").Replace("HTTPS://","").Replace("http://","").Replace("HTTP://","")" target="_blank">@AccountInfo.DomainName</a></p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a id="ui_aMyAccount" class="dropdown-item nav-link" href="javasctipt:void(0);">
                                <i class="fa fa-key"></i> Accounts
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item nav-link" href="/Login/SignOut">
                                <i class="fa fa-power-off"></i> Sign Out
                            </a>
                        </div>
                    </div>
                    <div id="ui_divMyAccountPopUp" class="myaccountWrap">
                        <div class="accounthead">
                            <h6>SELECT ACCOUNT</h6>
                            <i class="icon ion-close" id="ui_iconCloseAccountPopUp"></i>
                        </div>
                        <div class="accountItemWrap">
                            @for (var i = 0; i < AccountList.Count; i++)
                            {
                                var eachAccount = AccountList[i];
                                var AccountClass = "MyAccountMenu";
                                var AccountName = AccountList[i].AccountName;
                                var SortAccountName = AccountName.Length > 15 ? AccountName + "..." : AccountName;
                                var CheckBoxChecked = "";
                                if (eachAccount.AccountId == AccountInfo.AdsId)
                                {
                                    AccountClass += " active";
                                }

                                if (eachAccount.AccountId == CustomerInfo.PreferredAccountId)
                                {
                                    CheckBoxChecked = "checked";
                                }
                                <a AccountId="@eachAccount.AccountId" class="@AccountClass" href="javasctipt:void(0);" title="@eachAccount.AccountName">
                                    <div class="seldefltaccwrp">
                                        <div class="MyAccountMenuItem accountItem" AccountId="@eachAccount.AccountId">
                                            <div class="faviIcon">
                                                <img src="https://www.google.com/s2/favicons?sz=16&domain=@eachAccount.DomainName" alt="@eachAccount.AccountName">
                                            </div>
                                            <div class="accountName">@SortAccountName</div>
                                        </div>
                                        <div class="seldefltradiwrp">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="ui_rdbtnUserDefaultAccount_@eachAccount.AccountId" value="@eachAccount.AccountId" name="UserDefaultAccount" @CheckBoxChecked />
                                                <label class="custom-control-label" for="ui_rdbtnUserDefaultAccount_@eachAccount.AccountId"></label>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="mainpanel">
            <div class="container">
                <section class="sheet">
                    <div class="pageheader">
                        <div class="journconthead">
                            <h6 class="pagetitle">Publisher Leads</h6>
                            <small class="totalCountTitle">Total Leads: <span id="spnCount">0</span> </small>
                        </div>

                    </div>

                    <div class="topTabWrap">
                        <div class="iconTopNav">
                            <div class="topIconItem"></div>
                            <div class="topIconItem"></div>
                            <div class="topIconItem"></div>
                        </div>
                        <div class="tabItemWrap">
                            <div class="tabItem">
                                <a class="tap-nav-link active" href="javascript:void(0);">Total Leads</a>
                            </div>
                            <div class="tabItem">
                                <a class="tap-nav-link" href="javascript:void(0);">Primary Leads</a>
                            </div>
                            <div class="tabItem">
                                <a class="tap-nav-link" href="javascript:void(0);">Secondary Leads</a>
                            </div>
                        </div>
                        <div class="iconsWrap">
                            <div class="searchCampWrap position-relative mr-3 w-200">
                                <input class="form-control form-control-sm contsearchfocus" type="text" name="" id="txt_searchemailphone" placeholder="Search by EmailId" propertyname="EmailId" displayname="Email Id">
                                <i class="icon ion-android-search serchicon" id="SearchByEmailOrPhone"></i>
                            </div>
                            <div class="filterWrap dropdown">
                                <i class="icon ion-android-funnel" id="filterbycontacts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Filter By"></i>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterbycontacts" id="customDropdownMenu">
                                    <a class="dropdown-item searchColumn" propertyname="EmailId" displayname="Email Id">Email Id</a>
                                    <a class="dropdown-item searchColumn" propertyname="PhoneNumber" displayname="Phone Number">Phone Number</a>

                                </div>
                            </div>
                            @{
                                Html.RenderPartial("_Export");
                            }
                        </div>
                    </div>
                    <div class="subcustdatewrp mr-tp-15">

                        <div style="width:50%;float:left">
                            @{
                                Html.RenderPartial("_PageHeadingWithDate");
                            }
                        </div>
                        <div style="float:right;padding-top:10px;">
                            <div class="lmsstagewrpdrpdwn">
                                <div class="lmsallsource mr-2">
                                    <select name="" class="form-control form-control-sm" id="ui_dllLeadLabel">
                                        <option value="select">All Label</option>
                                        <option value="Hot">Hot</option>
                                        <option value="Warm">Warm</option>
                                        <option value="Cold">Cold</option>
                                        <option value="NULL">Not Assigned</option>
                                    </select>
                                </div>
                                <div class="lmsallsource mr-2">
                                    <select style="width:200px;" class="form-control form-control-sm" id="ui_dllStageSort">
                                        <option value="select">All Stage</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="box-white border-top-0">
                                <div class="tableWrapper" style="margin-bottom: 15px;">
                                    <div class="table-responsive sticky-hscroll">
                                        <table class="table manageContacts" id="ui_tblReportData">
                                            <thead id="ui_trheadReportData">
                                                <tr>
                                                    <th scope="col" class="helpIcon m-p-w-100 td-wid-19">
                                                        Label
                                                    </th>
                                                    <th scope="col" class="helpIcon m-p-w-220 td-wid-19">
                                                        Name
                                                    </th>
                                                    <th class="helpIcon m-p-w-190 td-wid-19" scope="col">
                                                        Email
                                                    </th>
                                                    <th class="helpIcon m-p-w-190 td-wid-19" scope="col">
                                                        Phone Number
                                                    </th>
                                                    <th class="helpIcon m-p-w-190 td-wid-19" scope="col">
                                                        Stage
                                                    </th>
                                                    <th class="helpIcon m-p-w-120 td-wid-20" scope="col">
                                                        CreatedDate
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="ui_tbodyReportData"></tbody>
                                        </table>
                                    </div>
                                </div>
                                @{
                                    Html.RenderPartial("_Paging");
                                }
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="footer">
                <div class="container">
                    <div class="copyriteWrp">
                        <span>
                            © 2014 onwards. All Rights Reserved. Plumb5 is brought to you by Decisive Analytical Systems
                            PVT.Ltd.
                        </span>
                        <span><a href="https://plumb5.com/terms.html" target="_blank">Terms of use</a> / <a href="https://plumb5.com/privacy.html" target="_blank">Privacy Policy</a></span>
                    </div>
                </div>
            </div>
        </div>


        <script src="/js/sidebar.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/AccountMaster.js"></script>
    }


</body>
</html>

<div id="ui_divPageLoading" class="spinnerWrap">
    <div class="spinnerItem position-relative">
        <div class="sk-wave">
            <div class="sk-rect sk-rect1"></div>
            <div class="sk-rect sk-rect2"></div>
            <div class="sk-rect sk-rect3"></div>
            <div class="sk-rect sk-rect4"></div>
            <div class="sk-rect sk-rect5"></div>
        </div>
    </div>
</div>
<script src="~/js/Prospect/LeadPublisherReport.js"></script>
@*<script src="~/js/Prospect/Leads.js"></script>*@
<script src="~/js/bootstrap-select.min.js"></script>