@{
    Layout = null;
}
@model Plumb5.Models.RegisterModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | Plumb5</title>
    <link rel="stylesheet" href="~/Content/css/plumb5-style.css">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        //if (window.location.protocol != "https:" && window.document.URL.toLowerCase().indexOf("local") < 0)
        //    window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
        //if (window.location.href.indexOf('pro.plumb5.com') > 0 || window.location.href.indexOf('lite.plumb5.com') > 0) {
        //    window.location.href = 'https://plumb5.com';
        //}       


        function ShowHideLogin(ui_chkboxAgree) {
            var btnLogin = document.getElementById("ui_btnLogin");

            if (ui_chkboxAgree.checked) {
                btnLogin.disabled = false;
                btnLogin.classList.remove("p5new-btnDisabled");
                btnLogin.classList.add("btn-active");
            }
            else {
                btnLogin.disabled = true;
                btnLogin.classList.remove("btn-active");
                btnLogin.classList.add("p5new-btnDisabled");
            }
        }



    </script>

    <script src="~/js/aes.js"></script>
</head>
<body>
    <div class="p5new-frmWrapper">
        <div class="p5new-frmwrappee">
            <div class="p5new-bgwhiteWrap">
                <div class="p5new-logoWrp"><a href="http://www.plumb5.com"></a></div>
                <div class="p5new-frmWrap">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="p5new-frmFldWrp">
                            <div class="p5new-frmFld">
                                @Html.TextBoxFor(m => m.EmailId, null, new { @class = "p5new-frm-cont p5new-input-eff", autocomplete = "off", placeholder = "Email" })
                                <span class="focus-border">
                                    <i></i>
                                </span>
                                @Html.HiddenFor(model => model.HDEmailId)
                                @Html.ValidationMessageFor(model => model.EmailId)
                            </div>
                            <div class="p5new-frmFld">
                                @Html.PasswordFor(m => m.Password, new { @class = "p5new-frm-cont p5new-input-eff", autocomplete = "off", placeholder = "Password" })
                                <span class="focus-border">
                                    <i></i>
                                </span>
                                @Html.HiddenFor(model => model.HDPassword)
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            <div class="p5new-btnwrp">
                                <input id="ui_btnLogin" class="btn-active btn-block" type="submit" value="Log In" onclick="SubmitEncry()" />
                                @*<button id="ui_btnLogin" class="btn-active btn-block" type="submit">Log In</button>*@
                                @*<button class="p5new-btn hvr-btn-to-right" type="submit" id="ui_btnLogin">Log In</button>*@
                            </div>
                            <div class="p5new-stayWrap">
                                <div class="p5new-checkBxWrp">
                                    <label for="ui_chkboxAgree">I agree to Plumb5's <a href="http://plumb5.com/terms.html" target="_blank">Terms of Service</a> and <a href="http://plumb5.com/privacy.html" target="_blank">Privacy Policy</a></label>
                                    <input id="ui_chkboxAgree" class="p5new-checkBx" type="checkbox" checked onclick="ShowHideLogin(this)">
                                    <span class="p5new-checkBgMark"></span>
                                </div>
                                <div class="p5new-frgtWrp"><p><a href="/ForgotPassword/ResetPassword">Forgot Password?</a></p></div>
                                <div style="text-align:center;">
                                    <span id="ui_spanLoginError" style="padding-left: 0px;font-family: tahoma;color: red;">@ViewBag.ErrorMessage</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <p class="p5new-terms">
                &copy; 2014 onwards. All Rights Reserved. Plumb5 is brought to you by Decisive Analytical Systems PVT.Ltd.
                <a href="https://plumb5.com/privacy.html">Privacy Policy</a> and <a href="https://plumb5.com/terms.html">Terms of Service</a>.
            </p>
        </div>
    </div>
    <script type="text/javascript">
        function SubmitEncry() {
            let emailid = $('#EmailId').val();
            let password = $('#Password').val();

            if (emailid == "") {
                $('#EmailId').val('');
                $('#HDEmailId').val('');
                return;
            }

            if (password == "") {
                $('#Password').val('');
                $('#HDPassword').val('');
                return;
            }

            let key = CryptoJS.enc.Utf8.parse('83b2f547aed84e87');
            let iv = CryptoJS.enc.Utf8.parse('83b2f547aed84e87');

            let encryptedlogin = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(emailid), key,
                {
                    keySize: 128 / 8,
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });

            $('#HDEmailId').val(encryptedlogin);

            let encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(password), key,
                {
                    keySize: 128 / 8,
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });

            $('#Password').val('*********');
            $('#HDPassword').val(encryptedpassword);
        }
    </script>
</body>
</html>