@{
    Layout = null;
}
@model Plumb5.Models.UserFirstPassword
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | Change Password</title>
    <link rel="stylesheet" href="~/Content/css/plumb5-style.css">
    <script type='text/javascript' src='//code.jquery.com/jquery-1.10.2.min.js'></script>
</head>
<body style="min-height: 540px;">
    <div class="p5new-frmWrapper">
        <div class="p5new-frmwrappee">
            <div class="p5new-bgwhiteWrap">
                <div class="p5new-logoWrp"><a href="http://www.plumb5.com"></a></div>
                <div class="p5new-frmWrap">
                    @using (Html.BeginForm("UserFirstLogin", "Login", FormMethod.Post))
                    {
                        <div class="p5new-frmFldWrp">
                            <div class="p5new-frmFld">
                                @Html.PasswordFor(m => m.NewPassword, new { @id = "ui_ResetPassword", @class = "p5new-frm-cont p5new-input-eff", @placeholder = "New Password" })
                                @Html.ValidationMessageFor(model => model.NewPassword)
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                            <div class="p5new-frmFld">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "ui_ConfirmResetPassword", @class = "p5new-frm-cont p5new-input-eff", @placeholder = "Confirm new Password" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                            <div class="p5new-btnwrp">
                                <button class="btn-active btn-block" type="submit">Change Password</button>
                                <br />
                                <br />
                                <span class="field-validation-error">@ViewBag.ErrorMessage</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <p class="p5new-terms">
                &copy; 2014 onwards. All Rights Reserved. Plumb5 is brought to you by Decisive Analytical Systems PVT.Ltd.
                <a href="https://plumb5.com/privacy.html">Privacy Policy</a> and <a href="https://plumb5.com/terms.html">Terms of Service</a>.
            </p>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var result = '@ViewBag.Result';
            if (result == "True") {
                setTimeout(function () { window.location = '/Login'; }, 3000);
            }
        });
    </script>
</body>
</html>